.deps
aclocal.m4
Makefile
Makefile.in
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
natpmd.conf
stallone
!extras/monit/stallone
# For `make distcheck`: the tarball and the unpacked dir
stallone-*.*.*
# Manpages
stallone.8
stallone.8.html
stallone.8.txt
stallone.8.xml
stamp-h1
test-caps
test-natpmd-config
tags
*.o
*~

# gcov files
*.gcno
*.gcov
*.gcda

autoscan.log
configure.scan
