.deps
aclocal.m4
Makefile
Makefile.in
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stallone
# For `make distcheck`: the tarball and the unpacked dir
stallone-*.*.*
stallone.8.html
stamp-h1
tags
*.o
*~
